@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";


body {
  height: 100vh;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover { 
  background-color: #cfd1f5;
 }

div#buttons {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

p#recordingStatus {
  margin-bottom: 0px;
}

#player {
  background-color: white;
  width: 90%;
  min-width: 250px;
  max-width: 375px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: none;
  margin: 0;
  padding: 8px;
}

h4 {
  color: #120065;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

audio {
  width: 100%;
  margin-top: 8px;
}

div#linkContainer {
  padding-bottom: 8px;
}

h1 {
  font-size: 24px;
}

.button {
  border: none;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  border: 10px #dad;
}